h1 pastebin

pre.
  My pastebin works a lot like sprunge.us.
  cat file | curl -F 'paste=<-' http://paste.totallymike.info
  and it will return a URL you can use to view the page.

  So far nothing is deleted, but soon I'll be cutting off pastes
  after a few days, I think.  Depending on usage.
